<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

    </style>
</head>
<body>
    <h1><%= title%></h1>
    <form method="POST" action="" enctype="x-www-form-urlencoded">
        <div>
            <label for="name">Username:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <% if (errors) { %>
            <% errors.forEach(error=>{ %>
                <div class="error"><%= error.msg%></div>
            <%})%>
        <%}%>
        <button type="submit" value="Create User">Create User</button>
    </form>
</body>
</html>